In [33]:
import pandas as pd

In [34]:
df =pd.read_csv("fraud_values.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,class
0,-1.115288,-19.139733,9.286847,-20.134992,7.818673,-15.652208,-1.668348,-21.340478,0.641900,-8.550110,...,-2.182692,0.520543,-0.760556,0.662767,-0.948454,0.121796,-3.381843,-1.256524,0.206103,1
1,-1.037584,-1.519244,2.308492,-1.503599,2.064101,-1.000845,-1.016897,-2.059731,-0.275166,-1.562206,...,1.307871,0.102826,-0.017746,0.149696,-0.096602,-0.369115,-0.019244,-0.208319,-0.349231,1
2,0.723806,0.290155,0.049243,-0.740524,2.865463,1.395294,-0.535163,0.142543,-0.222770,-1.463691,...,0.337349,1.018191,0.303550,0.833886,-1.222306,2.745261,-0.220402,0.168233,-0.324523,1
3,-1.061759,-4.617461,3.663395,-5.297446,3.880960,-3.263551,-0.918547,-5.715262,0.831040,-2.457034,...,2.698175,-0.027081,0.366775,-0.123011,-0.300457,-0.239996,-0.183463,-0.073360,-0.349231,1
4,-0.194593,-1.756712,3.266574,-4.153388,3.924526,-1.753772,-1.005787,-4.313217,1.560712,-3.295674,...,0.911427,0.053061,-0.367701,-0.776338,0.292094,0.026000,1.062968,0.501148,-0.349231,1

In [35]:
test1 = df[['V1','V2']]
print(test1)

           V1         V2
0  -19.139733   9.286847
1   -1.519244   2.308492
2    0.290155   0.049243
3   -4.617461   3.663395
4   -1.756712   3.266574
5    0.206075   1.387360
6  -20.906908   9.843153
7  -13.086519   7.352148
8   -0.433222   2.428379
9   -1.430864  -0.802529
10 -13.192671  12.785971
11  -0.613696   3.698772
12 -24.590245  14.044567
13   0.287953   1.728735
14  -1.172183   1.661713
15   1.991976   0.158476
16  -6.352337  -2.370335
17  -2.169929   3.639654
18  -0.481531   1.059542
19  -1.000611   3.346850
20   0.667714   3.041502
21  -2.405580   3.738235
22  -7.030308   3.421991
23  -0.129778   0.141547
24 -15.271362   8.326581

Valid Values

In [36]:
df1 =pd.read_csv("valid_values.csv")
df1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,class
0,-0.208428,1.072132,-0.281689,1.188254,1.739634,-0.848114,0.564672,-0.633982,0.371500,1.484735,...,-0.431254,-0.847681,0.100170,0.039475,0.372361,-0.504906,0.080580,0.026029,-0.297256,0
1,0.704138,-0.276624,0.717183,-0.116790,-0.849086,0.869929,-1.172602,1.081514,-0.105477,-0.296841,...,0.344637,0.897329,-0.250355,-0.076956,0.178875,-0.254742,0.026322,0.053941,-0.208259,0
2,-0.405299,0.600291,-1.486153,-0.057500,-1.301989,-1.124536,-0.515805,-0.014508,0.034452,1.249726,...,0.173637,-0.193368,-0.238478,0.028564,0.126637,-0.139871,-0.045458,0.059426,0.960022,0
3,0.810080,1.783604,-0.805356,-0.171681,-0.429199,-1.346708,-1.398677,-0.385832,-0.292775,1.290172,...,0.317987,0.938517,0.191939,0.985467,-0.464337,0.638235,-0.043739,-0.023132,0.078564,0
4,0.467026,2.041598,-0.557962,-2.544583,-0.844652,2.248502,3.480867,-0.639779,0.829574,0.997348,...,0.074687,0.436614,0.077841,0.762911,0.237732,0.215783,-0.006447,-0.069697,-0.349231,0

In [38]:
test2 = df1[['V1','V2']]
print(test2)

          V1        V2
0   1.072132 -0.281689
1  -0.276624  0.717183
2   0.600291 -1.486153
3   1.783604 -0.805356
4   2.041598 -0.557962
5   1.345173 -0.672537
6   1.190936  0.292382
7   2.036587 -0.542965
8  -1.479308  1.009227
9  -0.847231 -0.118187
10  1.217263  0.383060
11 -6.174088 -5.205599
12 -0.936458  1.821590
13 -0.824806  0.582869
14 -1.247145  0.497053
15  1.950772 -0.395386
16 -0.934622  0.678828
17 -0.872097  1.108823
18 -0.980184 -3.647154
19  1.795607 -0.223293
20 -0.702594  0.891724
21 -1.805682  2.234287
22 -2.120462 -0.954257
23  1.104349 -0.403658
24 -1.407631 -0.717003